/* TODO: See what can be consolidated between this and index.css */

#root {
  text-align: center;
  --navy: #2e4670;
  font-family: 'Butler';
  width: 100%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.pagePanel {
  padding: 0 !important;
  margin-bottom: 1vh;
  margin: 1vh auto;
  width: 95vw;
}

.rsvp-input {
  margin-top: 1vh !important;
}

.pagePaper {
  padding: 1rem;
  min-height: 1vh;
}

.countDownPaper {
  padding-right: 3vw;
  padding-left: 3vw;
}

.countDownNumber {
  font-size: 1.5rem !important;
}

#countDownStack {
  justify-content: center;
  flex: 1;
  justify-self: center;
  flex-wrap: wrap;
}

/* Desktop */
@media (min-width: 515px) {
  #usImage {
    height: 60vh;
    width: 50vw;
  }
}

/* Mobile */
@media (max-width: 515px) {
  .pagePanel {
    top: 56px;
    position: relative;
  }

  #countDownStack {
    justify-content: space-between;
  }

  #usImage {
    width: -webkit-fill-available !important;
  }
}

@media (max-width: 412px) {
  #countDownStack {
    gap: 16px;
    justify-content: center;
  }
}