#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  text-align: center;
  --navy: #2e4670;
  background-color: var(--gold);
  font-family: "Butler";
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--navy));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.pagePanel {
  width: 100%;
  margin-top: 1vh;
  padding: 0 !important;
  margin-bottom: 1vh;
}

.rsvp-input {
  margin-top: 1vh !important;
}

.pagePaper {
  padding: 1rem;
  min-height: 1vh;
}

.countDownPaper {
  flex-basis: 20vw;
  padding-right: 3vw;
  padding-left: 3vw;
}

.countDownNumber {
  font-size: 1.5rem !important;
}

/* Desktop */
/* @media (min-width: 767.01px) {
  .siteBox {
    width: 55vw;
  }

  .pagePanel {
    width: 55vw;
  }
} */

/* Mobile */
/* @media (max-width: 767px) {
  .siteBox {
    width: 95vw;
  }

  .pagePanel {
    width: 95vw;
  }
} */